{% extends "base.html" %}
{% load static %}

{% block css %}

  <style>
    body {
      margin-top: 70px;
    }
  </style>

{% endblock css %}

{% block content %}

<div id="app">
  <div class="row">
    <p>Do lado esquerdo você pode digitar um username do Github e clicar em listar que ele vai listar os repositórios na tela.</p>
    <p>Do lado direito ele busca pelos repositórios salvos no banco de dados.</p>
    <p>O botão 'Salvar todos' salva todos os repositórios no banco de dados.</p>
    <div class="col-sm-8">
      <form action="." method="GET" class="form-inline">
        <label style="margin-right: 10px;">Digite o username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Ex: rg3915" v-model="username">
        <input class="btn btn-sm btn-primary" style="margin-left: 10px;" value="Listar" @click="getRepos(username)">
      </form>
    </div>
    <div class="col-sm-4">
      <form action="." method="GET" class="form-inline">
        <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
        <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="OK">
      </form>
    </div>
  </div>

  <div class="page-header" style="margin-top: 15px;">
    <h2>Lista de Repositórios
      <form action="" method="POST">
        <span class="pull-right">
          <a href="">
            <button type="button" class="btn btn-success" @click.prevent="saveRepos">
              <span class="fa fa-plus"></span> Salvar todos
            </button>
          </a>
        </span>
      </form>
    </h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th v-for="head in headers" :class="{'text-center': head.title == 'stargazers_count'}">${ head.title }</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td v-if="item.slug">
            ${ item.slug }
          </td>
          <td v-else>
            ${ item.id }
          </td>
          <td>${ item.name }</td>
          <td>${ item.full_name }</td>
          <td>
            <a :href="item.html_url" target="_blank">${ item.html_url }</a>
          </td>
          <td class="text-center">${ item.stargazers_count }</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
{% endblock content %}

{% block js %}

<script src="{% static 'js/main.js' %}"></script>

{% endblock js %}